
body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#title {
    font-size: 40pt;
    color: #ffffff;
}

#divFormulario {
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    width: 800px;
    height: 150px;
    background-color: #ff0707;
}

img {
    width: 300px;
    height: 300px;
    padding: 30px 30px 30px;
}

#lblPontuacao {
    margin-right: 180px;
}

#btnSair {
    margin-left: 57px;
}

#btnConfirmar {
    margin-right: 60px;
}

#divPersonagem {
    display: inline-block;
    width: 400px
}

#divQuestoes {
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
}
#fsPersonagem {
    width: 800px;
}
#lblPulos {
    margin-left: 20px;
}

label {
    font-size: 20px;
}